@using Travel.Models;
@model List<MIEN>

@*@foreach (var m in Model)
{
    <ul class="row dropdown-menu">
        <li class="col-sm-4 col-xs-12">
            <ul class="list-unstyled">
                <li>@m.TEN_MIEN</li>
                <li>
                    <a href="@Url.Action("Locds", new {ThuocT="mien",ma=@m.MA_MIEN })">                     
                    </a>
                </li>
            </ul>
        </li>
    </ul>
}*@

