
@{
    ViewBag.Title = "ChiTiet_Tour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bg Tour -->
<section>
    <div class="pageTitle page-image-tour-tag" style="background-image:url(../../Content/image/adwards.jpg)"></div>
</section>

<!--Title Des Tour-->
<section>
    <div class="container" style="position: relative">
        <div class="background-description">
            <h1 class="tour-banner-title">Du lịch Tết Tân Sửu 2021 Côn Đảo [Mùng 4 tết]</h1>
        </div>
    </div>
</section>

<!--Tour detail-->
<section class="mainContentSection singlePackage">
    <div class="container detail-tour-kiritm">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 ml--20x">
                <div class="info-tour">
                    <div class="promotion-tour">
                        <div class="text-promotion-tour" title="Tour Tết">Tour Tết</div>
                    </div>
                    @*<div class="row-info">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="text-uppercase">Thời gian:</span>
                                    <span class="text-strong">3 ngày 2 đêm</span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="text-uppercase">Phương tiện:</span>
                                    <span class="text-strong">
                                        Đi về bằng máy bay
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="text-uppercase">Điểm xuất phát:</span>
                                    <span class="text-strong">TP. Hồ Chí Minh </span>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="text-uppercase">Điểm đến:</span>
                                    <span class="text-strong">Côn Đảo</span>
                                </div>
                            </div>
                        </div>*@
                </div>

                <div class="row-description">
                    <div class="title-description">Tour này có gì hay</div>
                    <div class="content-description">
                        <div>
                            - Đến với Côn Đảo (hay với các tên khác như Côn Sơn, Côn Lôn) đã gợi cho người nghe hình ảnh mịt mù của một khu vực xa xôi, mờ mịt, có lúc được ví như địa ngục trần gian nổi tiếng từ thời Pháp thuộc đến giữa năm 1975.
                            - Tham quan Cầu tàu 914, Trại Phú Hải, Chuồng Cọp Pháp - Mỹ, Mũi Cá Mập, Đỉnh Tình Yêu.
                        </div>
                    </div>
                </div>

                <div class="row-info-tour">
                    <div role="tabpanel" class="">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tour-program">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="commonInfo">
                                            <p></p><p style="text-align: justify;">
                                                <strong>Ngày 01: TP. HỒ CHÍ MINH - CÔN ĐẢO&nbsp;(Ăn trưa, chiều)</strong><br>
                                                Buổi sáng, quý khách tập trung tại Ga đi trong nước, sân bay Tân Sơn Nhất. Bay đi Côn Đảo <strong>(cất cánh 08h25)</strong>. Đáp xuống sân bay Cỏ Ống. Khởi hành tham quan <strong>Cảng Bến Đầm</strong>: Cảng lớn nhất tại Côn Đảo, là địa điểm hoạt động trung chuyển hàng hóa, hành khách, giao dịch, buôn bán thủy sản và cung ứng các dịch vụ hậu cần nghề biển; <strong>Mũi Cá Mập</strong> : Mỏm núi vươn dài ra biển có hình tượng giống hàm cá mập; <strong>Đỉnh Tình Yêu</strong>:&nbsp; Là chóp núi có hình tượng của đôi trai gái đang tâm tình mà thiên nhiên đã ban tặng cho Côn Đảo; <strong>Bãi Nhát:</strong>&nbsp; Một bãi tắm bị tác động của thuỷ triều, khi nước xuống sẽ lộ thiên một bãi tắm với cát trắng mịn, nước trong xanh. Quay về khách sạn. Buổi chiều tối quý khách tự do khám phá Côn Đảo. Nghỉ đêm trên Côn Đảo.
                                            </p>

                                            <p style="text-align: center;"><img alt="" src="https://saigontourist.net/uploads/destination/TrongNuoc/Condao/dinh-tinh-yeu-condao.jpg" style="width: 100%;"><strong>Đỉnh Tình Yêu</strong></p>

                                            <p style="text-align: justify;">
                                                <strong>NGÀY&nbsp;02: THAM QUAN CÔN ĐẢO&nbsp;(Ăn sáng, trưa, chiều)</strong><br>
                                                Buổi sáng, quý khách tham quan <strong>Dinh chúa đảo</strong><strong> - </strong>nơi lưu giữ các tư liệu và hình ảnh của Côn Đảo từ thời Pháp thuộc đến những năm 2000; <strong>Trại tù Phú Hải</strong>; <strong>Cầu tàu 914</strong>; Viếng nghĩa trang <strong>Hàng Dương </strong>nơi yên nghĩ của hơn 2.000 nấm mộ và đặc biệt là mộ cô Sáu (Võ Thị Sáu), Khu <strong>Chuồng Cọp Pháp - Mỹ</strong> hệ thống biệt giam đặc biệt tại Côn Đảo. <strong>Chuồng Bò</strong> Miếu bà<strong> Phi Yến </strong>nơi thờ phượng bà Lê Thị Râm, vợ chúa Nguyễn Ánh. Buổi chiều quý khách đến tắm biển tại <strong>bãi Đầm Trầu</strong> (cách trung tâm thị trấn Côn Đảo khoảng 13km). Đây là một bãi tắm gần như còn hoang sơ, tuyệt đẹp với cát vàng mịn màng, làn nước trong xanh màu ngọc bích. Từ lộ chính, quý khách đi bộ theo đường mòn khoảng 1,5km để đến bãi tắm. Trên đường đi quý khách dừng chân để viếng <strong>Miếu Cậu</strong> - nơi thờ hoàng tử Cải, con trai của chúa Nguyễn Ánh và bà Hoàng Phi Yến. Quay về khách sạn. Tự do. Nghỉ đêm ở Côn Đảo.
                                            </p>

                                            <p style="text-align: center;"><img alt="" src="https://saigontourist.net/uploads/destination/TrongNuoc/Condao/NghiaTrang-HanDuong_166652363.jpg" style="width: 100%;"><strong>Nghĩa trang</strong> <strong>Hàng Dương </strong></p>

                                            <p style="text-align: justify;">
                                                <strong>NGÀY&nbsp;03: CÔN ĐẢO - TP. HỒ CHÍ MINH&nbsp;(Ăn sáng)</strong><br>
                                                Buổi sáng, quý khách trả phòng. Di chuyển ra sân bay Cỏ Ống. Bay vào TP.HCM <strong>(cất cánh lúc </strong><strong>10h25)</strong>. Về đến sân bay Tân Sơn Nhất. Kết thúc chương trình. (Quý khách tự túc phương tiện từ sân bay về lại nhà).
                                            </p>

                                            <p style="text-align: justify;"><strong>Ghi chú</strong>: Điểm tham quan có thể sắp xếp lại cho phù hợp mà vẫn bảo đảm đầy đủ nội dung của từng chương trình.</p><p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- nên cắt partialview cho tour có thể bạn quan tâm -->

</section>