
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pageTitle" style="background-image:url(../../Content/image/bg-intro.jpg )">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1 style="color: red !important"> GIỚI THIỆU LỮ HÀNH VIETTRAVEL </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mainContentSection bg-img" ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <strong> KHẲNG ĐỊNH THƯƠNG HIỆU HÀNG ĐẦU VỀ CHẤT LƯỢNG &amp; HIỆU QUẢ KINH DOANH </strong> <br /><br />
                    Trong ngành du lịch Việt Nam, Lữ hành Viettravel là doanh nghiệp lữ hành tiên phong với những sáng tạo đột phá, tăng trưởng bền vững! <br /><br />
                    Thương hiệu Lữ hành Việt Nam
                </div>
            </div>
        </div>
    </div>
</section>
