CREATE DATABASE [DU_LICH]
GO

USE [DU_LICH]
GO
/****** Object:  Table [dbo].[AD]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_TRI_VIEN](
	[TAI_KHOAN] [nchar](250) NOT NULL,
	[MAT_KHAU] [nchar](20) NULL,
 CONSTRAINT [PK_PHAN_QUYEN] PRIMARY KEY CLUSTERED 
(
	[TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_TOUR]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_TOUR](
	[MA_TOUR] [int] NOT NULL,
	[MA_DIEM_DL] [int] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_TOUR_1] PRIMARY KEY CLUSTERED 
(
	[MA_TOUR] ASC,
	[MA_DIEM_DL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUONG_TRINH_TOUR]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUONG_TRINH_TOUR](
	[MA_TOUR] [int] IDENTITY(1,1) NOT NULL,
	[HINH_ANH] [nchar](250) NULL,
	[TEN_TOUR] [nvarchar](250) NULL,
	[GIA_TOUR] [decimal](18, 0) NULL,
	[NGAY_KHOI_HANH] [date] NULL,
	[NGAY_KET_THUC] [date] NULL,
	[SO_CHO] [int] NULL,
	[GHI_CHU] [nvarchar](250) NULL,
	[NOI_DUNG] [nvarchar](max) NULL,
	[LICH_TRINH] [nvarchar](max) NULL,
	[CHINH_SACH] [nvarchar](max) NULL,
	[CAU_HOI_THUONG_GAP] [nvarchar](max) NULL,
 CONSTRAINT [PK_CHUONG_TRINH_TOUR] PRIMARY KEY CLUSTERED 
(
	[MA_TOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DAT_TOUR]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_TOUR](
	[MA_DAT_TOUR] [int] NOT NULL,
	[MA_TOUR] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[GIA_NGUOI_LON] [decimal](18, 0) NULL,
	[GIA_TRE_EM] [decimal](18, 0) NULL,
	[SO_NGAY] [int] NULL,
	[SO_CHO_DAT] [int] NULL,
	[NGAY_DAT] [date] NULL,
	[PHU_THU] [decimal](18, 0) NULL,
	[THANH_TIEN] [decimal](18, 0) NULL,
 CONSTRAINT [PK_DAT_TOUR] PRIMARY KEY CLUSTERED 
(
	[MA_DAT_TOUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DIEM_DU_LICH]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM_DU_LICH](
	[MA_DIEM_DL] [int] NOT NULL,
	[HINH_ANH] [nchar](250) NULL,
	[TEN_DIEM_DL] [nvarchar](250) NULL,
	[THONG_TIN] [nvarchar](250) NULL,
	[MA_TINH] [int] NOT NULL,
 CONSTRAINT [PK_DIEM_DU_LICH] PRIMARY KEY CLUSTERED 
(
	[MA_DIEM_DL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HINH_ANH]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH_ANH](
	[MA_HINH_ANH] [int] NOT NULL,
	[TEN_HINH_ANH] [nvarchar](250) NULL,
	[LINK_HINH_ANH] [nchar](250) NULL,
	[MA_DIEM_DL] [int] NOT NULL,
 CONSTRAINT [PK_HINH_ANH] PRIMARY KEY CLUSTERED 
(
	[MA_HINH_ANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KH] [nvarchar](250) NULL,
	[NGAY_SINH] [date] NULL,
	[GIOI_TINH] [nvarchar](10) NULL,
	[CMND] [nchar](20) NULL,
	[PASSPORT] [nchar](20) NULL,
	[MA_QUOC_GIA] [nchar](10) NULL,
	[DIA_CHI] [nvarchar](250) NULL,
	[EMAIL] [nchar](250) NULL,
	[TAI_KHOAN_KH] [nchar](250) NULL,
	[MAT_KHAU_KH] [nchar](20) NULL,
	[DIEN_THOAI] [nchar](20) NULL,
	[GHI_CHU] [nvarchar](250) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIEN]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIEN](
	[MA_MIEN] [int] NOT NULL,
	[TEN_MIEN] [nvarchar](250) NULL,
	[TRONG_NGOAI_NUOC] [bit] NULL,
 CONSTRAINT [PK_MIEN] PRIMARY KEY CLUSTERED 
(
	[MA_MIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUOC_GIA]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOC_GIA](
	[MA_QUOC_GIA] [nchar](10) NOT NULL,
	[TEN_QUOC_GIA] [nvarchar](250) NULL,
	[GHI_CHU] [nvarchar](250) NULL,
 CONSTRAINT [PK_QUOC_GIA] PRIMARY KEY CLUSTERED 
(
	[MA_QUOC_GIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TINH]    Script Date: 12/28/2020 4:14:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[MA_TINH] [int] NOT NULL,
	[TEN_TINH] [nvarchar](250) NULL,
	[MA_MIEN] [int] NULL,
 CONSTRAINT [PK_TINH_1] PRIMARY KEY CLUSTERED 
(
	[MA_TINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHI_TIET_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_TOUR_CHUONG_TRINH_TOUR] FOREIGN KEY([MA_TOUR])
REFERENCES [dbo].[CHUONG_TRINH_TOUR] ([MA_TOUR])
GO
ALTER TABLE [dbo].[CHI_TIET_TOUR] CHECK CONSTRAINT [FK_CHI_TIET_TOUR_CHUONG_TRINH_TOUR]
GO
ALTER TABLE [dbo].[CHI_TIET_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_TOUR_DIEM_DU_LICH] FOREIGN KEY([MA_DIEM_DL])
REFERENCES [dbo].[DIEM_DU_LICH] ([MA_DIEM_DL])
GO
ALTER TABLE [dbo].[CHI_TIET_TOUR] CHECK CONSTRAINT [FK_CHI_TIET_TOUR_DIEM_DU_LICH]
GO
ALTER TABLE [dbo].[DAT_TOUR]  WITH CHECK ADD  CONSTRAINT [FK_DAT_TOUR_CHUONG_TRINH_TOUR] FOREIGN KEY([MA_DAT_TOUR])
REFERENCES [dbo].[CHUONG_TRINH_TOUR] ([MA_TOUR])
GO
ALTER TABLE [dbo].[DAT_TOUR] CHECK CONSTRAINT [FK_DAT_TOUR_CHUONG_TRINH_TOUR]
GO
ALTER TABLE [dbo].[DIEM_DU_LICH]  WITH CHECK ADD  CONSTRAINT [FK_DIEM_DU_LICH_TINH] FOREIGN KEY([MA_TINH])
REFERENCES [dbo].[TINH] ([MA_TINH])
GO
ALTER TABLE [dbo].[DIEM_DU_LICH] CHECK CONSTRAINT [FK_DIEM_DU_LICH_TINH]
GO
ALTER TABLE [dbo].[HINH_ANH]  WITH CHECK ADD  CONSTRAINT [FK_HINH_ANH_DIEM_DU_LICH1] FOREIGN KEY([MA_DIEM_DL])
REFERENCES [dbo].[DIEM_DU_LICH] ([MA_DIEM_DL])
GO
ALTER TABLE [dbo].[HINH_ANH] CHECK CONSTRAINT [FK_HINH_ANH_DIEM_DU_LICH1]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_DAT_TOUR] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[DAT_TOUR] ([MA_DAT_TOUR])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_DAT_TOUR]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_QUOC_GIA] FOREIGN KEY([MA_QUOC_GIA])
REFERENCES [dbo].[QUOC_GIA] ([MA_QUOC_GIA])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_QUOC_GIA]
GO
ALTER TABLE [dbo].[TINH]  WITH CHECK ADD  CONSTRAINT [FK_TINH_MIEN] FOREIGN KEY([MA_MIEN])
REFERENCES [dbo].[MIEN] ([MA_MIEN])
GO
ALTER TABLE [dbo].[TINH] CHECK CONSTRAINT [FK_TINH_MIEN]
GO
