
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="member-wrapper">
    <div class="background"></div>
    <div class="member-content">
        <div class="login clearfix">
            <div class="loginbox login_user">
                <img src="~/Content/image/login.png" class="avatar">
                <h4 class="text-center title">Đăng Nhập</h4>
                <form id="login-form" action="@Url.Action("XL_DangNhap","Account")" method="post">
                    <input type="hidden" name="_target_path" value="" />
                    <div class="form-content">
                        <div class="form-group label-top">
                            <input class="label-top" type="text" name="_userID" value="" id="account" required data-validation="required email">
                            <label for="user_name"> Tài khoản </label>
                            <div class="bt"></div>
                            <span class="msg">@ViewData["ID"]</span>
                        </div>
                        <br />
                        <div class="form-group label-top">
                            <input id="login_password" class="label-top" type="password" name="_password" required data-validation="required">
                            <label for="login_password"> Mật khẩu </label>
                            <div class="bt"></div>
                            <span class="msg">@ViewData["MK"]</span>
                        </div>
                    </div>                   
                    <br />
                    <div class="form-footer">
                        <a><input type="submit" name="btn_Login" value="Đăng nhập" id="login"></a>
                        <a><input type="button" name="btn_Cancel" value="Hủy"></a>
                    </div>
                    <div class="text-left">
                        <a href="#"> Quên mật khẩu?</a><br>
                        <a href="@Url.Action("DangKy","Account")"> Chưa có tài khoản?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/js/effect.js"></script>

