
.buttonCustomPrimary {
    height: 34px !important;
    line-height: 34px !important;
}

@media (max-width: 480px) {
    .buttonCustomPrimary {
        height: 28px !important;
        line-height: 28px !important;
        font-size: 12px !important;
        width: 120px !important;
    }
}

.tp-bullets.preview4 {
    display: none !important;
}

.mt--17x {
    margin-top: -17px
}

#logo img {
    height: 80px !important;
    margin-top: -18px;
    position: absolute;
    width: 85%;
}

.right-45x {
    right: 45px !important;
}

.left--30x {
    left: -30px !important;
}


/**/
/*.slideshow-container .tp-bullets.preview4 .bullet:hover, .slideshow-container .tp-bullets.preview4 .bullet.selected {
    box-shadow: none !important;
    background: rgba(255, 255, 255, 0) !important;
    width: 14px !important;
    height: 14px !important;
    border: 2px solid white !important;
    margin-right: 10px !important;
    margin-left: -4px !important;
    margin-bottom: -3px !important;
} */

.mb--22x {
    margin-bottom: -22px !important;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 78px !important;
    }
}

.dropdown-service .dropdown-menu-left {
    top: 86% !important
}

.navbar-nav > li.dropdown.singleDrop .dropdown-menu li a {
    padding: 0px 12px !important;
    line-height: 40px
}

.owl-stage {
    /* transform: unset !important;*/
}

/****************************************************** custom lstTour *******************************************************/
.high-slider-img-card {
    overflow: hidden;
}

    .high-slider-img-card .img {
        height: 250px !important
    }

.img {
    transition: 1.3s;
    cursor: pointer
}

    .img:hover {
        transform: scale(1.2);
        cursor: pointer
    }

.box-infor {
    border: 0.5px solid #f4f4f4;
    /*box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.39);*/
    padding-bottom: 20px;
    box-shadow: 1px 1px 2px 2px #f4f4f4
}

.products-main {
    padding-top: 50px;
}

.mt-27 {
    margin-top: 27px !important;
}

.mt-4x {
    margin: 4px 0
}
/***************************************************** zoom to hover img ******************************************************/
.high-slider-img {
    overflow: hidden;
}

.img-responsive {
    transition: 1.3s;
    cursor: pointer
}

    .img-responsive:hover {
        transform: scale(1.2);
        cursor: pointer
    }

.high-slider-img .img-responsive {
    height: 250px !important
}

.isotopeSelector:hover img {
    -webkit-transform: scale(1.2) rotate(0);
    transform: scale(1.2) rotate(0);
    -webkit-transition: all 0.8s ease-in-out;
}

.box-infor-tour {
    border: 0.5px solid #f4f4f4;
    /*box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.39);*/
    padding-bottom: 20px;
    box-shadow: 1px 1px 2px 2px #f4f4f4
}

.product-p-img {
    overflow: hidden
}

.ml--20x {
    margin-left: -20px
}

svg.svg-inline--fa.fa-phone.fa-w-16 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.select select {
    -webkit-appearance: none;
    background: #f5f5f5;
    background-image: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    border: .1px solid #bebaf9;
}

    .select select {
        flex: 1;
        padding: 0 .5em;
        color: #333;
        cursor: pointer;
    }
    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 .5em;
        background: #e2e2e6;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
        border-left: .1px solid #d9d7f9;
    }
    /* Transition */
    .select:hover::after {
        color: #000;
    }

    .select option {
        height: 32px
    }

/*.submit_infor {
    display: none
}*/

/******************************************CUSTOM LOGIN/REGISTER *******************************************************************/
.loginbox.login_user {
    width: 40%;
    height: 500px;
    /*background: #000;*/
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    /*padding: 70px 30px 70px 130px;*/
    background: rgb(191 255 255 / 30%);
    padding: 90px;
    padding-top: 110px
}

.avatar {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px)
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    /*margin-bottom: 20px*/
}

    .loginbox input[type="email"], .loginbox input[type="password"], .loginbox input[type="text"], .loginbox input[type="number"], .loginbox input[type="button"] {
        border: none;
        /*border-bottom: 1px solid #fff;*/
        background: transparent;
        outline: none;
        height: 40px;
        color: #333;
        font-size: 16px;
    }

    .loginbox input[type="submit"] {
        border: none;
        outline: none;
        height: 35px;
        background: #fb2525;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        width: 48%;
        margin-right: 8px;
    }

        .loginbox input[type="submit"]:hover {
            cursor: pointer;
            background: #c91e1e;
        }

    .loginbox input[type="button"] {
        border: none;
        outline: none;
        height: 35px;
        background: #fb2525;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        width: 48%;
    }

        .loginbox input[type="button"]:hover {
            cursor: pointer;
            background: #c91e1e;
        }

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

    .loginbox a:hover {
        color: #ffc107
    }

form .has-error .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

    form .has-error .form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.loginbox.register_user {
    width: 40%;
    height: 710px;
    /*background: #000;*/
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 90px;
    background: rgb(191 255 255 / 30%);
}

.bt {
    border-bottom: 1px solid #fff;
    margin-bottom: 5px !important
}

.msg, #message {
    color: red;
    font-size: 12px
}
/********************************************************** BTN TOP ***************************************************/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    /* width: 32px;
    height: 32px;*/
    text-align: center;
    line-height: 30px;
    /* background: #f5f5f5;*/
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    /*opacity: 0;*/
}

    #back-to-top:hover {
        /*background: #e9ebec;*/
    }

    #back-to-top.show {
        opacity: 1;
    }

.fas.fa-arrow-circle-up {
    color: #ff891ee0;
    font-size: 40px;
}

/********************************************************* CUSTOM MODAL **************************************************************/
#myModal .modal-content {
    top: 175px !important;
    margin: 0 110px
}

#error, #error1, #error2, #error3 {
    font-size: 12px;
    color: red;
    display: block;
    margin-top: 5px;
}

.b-btn-primary {
    background-color: #fb2525;
    border-radius: 4px !important;
    color: #fff !important;
}

.b-btn-default {
    background-color: #dfdfdf;
    color: #333 !important;
    border-radius: 4px !important;
}

/************************************************************** SEARCH ********************************************************/
::selection {
    background: #212129;
}

.search-wrapper {
    position: absolute !important;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 84%;
}

    .search-wrapper.active {
        left: 90%
    }

    .search-wrapper .input-holder {
        /*height: 40px;*/
        /*width: 40px;*/
        overflow: hidden;
        background: rgba(255,255,255,0);
        border-radius: 6px;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    .search-wrapper.active .input-holder {
        width: 230px;
        border-radius: 50px;
        background: rgba(0,0,0,0.5);
        transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    }

    .search-wrapper .input-holder .search-input {
        width: 100%;
        /*height: 50px;*/
        padding: 2px 70px 0 20px;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-family: "Open Sans", Arial, Verdana;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #FFF;
        transform: translate(0, 60px);
        transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition-delay: 0.3s;
    }

    .search-wrapper.active .input-holder .search-input {
        opacity: 1;
        transform: translate(0, 10px);
    }

    .search-wrapper .input-holder .search-icon {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 6px;
        background: #FFF;
        padding: 0px;
        outline: none;
        position: relative;
        z-index: 2;
        float: right;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .search-wrapper.active .input-holder .search-icon {
        width: 35px;
        height: 35px;
        margin: 5px;
        border-radius: 30px;
        /*right: 204px;*/
    }

    .search-wrapper .input-holder .search-icon span {
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        transform: rotate(45deg);
        transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    }

    .search-wrapper.active .input-holder .search-icon span {
        transform: rotate(-45deg);
    }

    .search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
        position: absolute;
        content: '';
    }

    .search-wrapper .input-holder .search-icon span::before {
        width: 4px;
        height: 11px;
        left: 9px;
        top: 11px;
        border-radius: 2px;
        background: #FE5F55;
    }

    .search-wrapper .input-holder .search-icon span::after {
        width: 14px;
        height: 14px;
        left: 4px;
        /*top: -5px;*/
        border-radius: 16px;
        border: 4px solid #FE5F55;
    }

    .search-wrapper .close {
        position: absolute;
        z-index: 1;
        top: 24px;
        left: 25px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        transform: rotate(-180deg);
        transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
        transition-delay: 0.2s;
    }

    .search-wrapper.active .close {
        left: 245px;
        transform: rotate(45deg);
        transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition-delay: 0.5s;
        top: 10px;
        opacity: 1 !important
    }

    .search-wrapper .close::before, .search-wrapper .close::after {
        position: absolute;
        content: '';
        background: #FE5F55;
        border-radius: 2px;
    }

    .search-wrapper .close::before {
        width: 4px;
        height: 20px;
        left: 8px;
        top: 0px;
    }

    .search-wrapper .close::after {
        width: 20px;
        height: 4px;
        left: 0px;
        top: 8px;
    }


/***********************************************************/
.welcome {
    text-transform: uppercase;
    padding: 0 30px !important;
}

    .welcome:hover {
        color: #fff !important;
        opacity: 1 !important;
    }

.style-name {
    display: flex;
}

.card-product {
    width: 250px;
    height: 350px;
}

.card-img-top {
    width: 250px;
    height: 200px;
}

.card {
    width: 250px;
    height: 200px;
    border: 1px solid #ccc;
}

.card-body {
    width: 250px;
    height: 100px;
}

.buy-tour {
    font-size: 26px !important;
    margin-top: 3px !important;
}

/*-------------------------------------------------------------*/
a.del:hover {
    text-decoration: underline !important;
}

input.soluong {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    width: 80px;
}

.name-tour {
    text-align: left
}

.thead-dark tr th {
    text-align: center !important
}

tbody tr td {
    text-align: center !important
}

.pd-16px {
    padding: 16px !important;
}

.comeback {
    float: right;
}

    .comeback:hover {
        text-decoration: underline !important;
    }

/************************************************************/
.myvideo {
    /*padding: 35px 102px 0 0;*/
    margin-top: 30px;
    float: right;
}

@media only screen and (max-width: 640px) {
    #ContactForm1_contact-form-name,
    #ContactForm1_contact-form-email,
    #ContactForm1_contact-form-submit {
        width: 100%;
        float: none
    }
}

section.mainContentSection.bg-img {
    height: 500px;
    /* background-image: url(../../Content/image/Flower_garden.jpg);*/
    /*opacity: 0.95;*/
    background-size: cover;
}

/************************************************************************************/
div#carousel {
    perspective: 1200px;
    background: #100000;
    padding-top: 10%;
    font-size: 0;
    margin-bottom: 3rem;
    overflow: hidden;
}

figure#spinner {
    transform-style: preserve-3d;
    height: 300px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}

    figure#spinner img {
        width: 40%;
        max-width: 425px;
        position: absolute;
        left: 30%;
        transform-origin: 50% 50% -500px;
        outline: 1px solid transparent;
    }

        figure#spinner img:nth-child(1) {
            transform: rotateY(0deg);
        }

        figure#spinner img:nth-child(2) {
            transform: rotateY(-45deg);
        }

        figure#spinner img:nth-child(3) {
            transform: rotateY(-90deg);
        }

        figure#spinner img:nth-child(4) {
            transform: rotateY(-135deg);
        }

        figure#spinner img:nth-child(5) {
            transform: rotateY(-180deg);
        }

        figure#spinner img:nth-child(6) {
            transform: rotateY(-225deg);
        }

        figure#spinner img:nth-child(7) {
            transform: rotateY(-270deg);
        }

        figure#spinner img:nth-child(8) {
            transform: rotateY(-315deg);
        }

div#carousel ~ span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

    div#carousel ~ span:hover {
        color: #888;
        cursor: pointer;
    }

/********************************* custom contact ************************************/
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    display: block
}

.sb {
    background-color: #c0392b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

    .sb:hover {
        background-color: #e54433;
    }

.media {
    margin-bottom: 20px;
    margin-top: 15px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

    .media .media-left {
        width: 75px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        background-color: #ff891e;
        color: #ffffff;
        padding-right: 0;
        margin-right: 25px;
        font-size: 35px;
        float: left;
    }

    .media p a {
        color: #969696;
        font-size: 14px;
    }

    .media p a:hover {
        opacity: .8;
    }