
.buttonCustomPrimary {
    height: 34px !important;
    line-height: 34px !important;
}

@media (max-width: 480px) {
    .buttonCustomPrimary {
        height: 28px !important;
        line-height: 28px !important;
        font-size: 12px !important;
        width: 120px !important;
    }
}

.tp-bullets.preview4 {
    display: none !important;
}

.mt--17x {
    margin-top: -17px
}

#logo img {
    height: 80px !important;
    margin-top: -14px;
    position: absolute;
    width: 85%;
}

.right-20x {
    right: 20px !important;
}

.left--30x {
    left: -30px !important;
}


/**/
/*.slideshow-container .tp-bullets.preview4 .bullet:hover, .slideshow-container .tp-bullets.preview4 .bullet.selected {
    box-shadow: none !important;
    background: rgba(255, 255, 255, 0) !important;
    width: 14px !important;
    height: 14px !important;
    border: 2px solid white !important;
    margin-right: 10px !important;
    margin-left: -4px !important;
    margin-bottom: -3px !important;
} */

.mb--22x {
    margin-bottom: -22px !important;
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: 78px !important;
    }
}

.dropdown-service .dropdown-menu-left {
    top: 86% !important
}

.navbar-nav > li.dropdown.singleDrop .dropdown-menu li a {
    padding: 0px 12px !important;
    line-height: 40px
}

.owl-stage {
    /* transform: unset !important;*/
}

/***************************************************** zoom to hover img ******************************************************/
.high-slider-img {
    overflow: hidden;
}

.img-responsive {
    transition: 1.3s;
}

    .img-responsive:hover {
        transform: scale(1.2);
        cursor: pointer
    }

.box-infor-tour {
    border: 0.5px solid #f4f4f4;
    /*box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.39);*/
    padding-bottom: 20px;
    box-shadow: 1px 1px 2px 2px #f4f4f4
}

.product-p-img {
    overflow: hidden
}

.ml--20x {
    margin-left: -20px
}
