<div class="col-md-12 col-sm-12 col-xs-12 no-padding submit_infor">
    <!-- Thông tin về tour -->
    <div class="title">
        <h3> XÁC NHẬN THÔNG TIN TOUR  </h3>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="time">Thời gian: </label>
                <label value=""></label>
            </div>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="transport">Phương tiện: </label>
                <label value=""></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="start">Điểm xuất phát: </label>
                <label value=""></label>
            </div>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="end">Điểm đến: </label>
                <label value=""></label>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 no-padding submit_infor">
    <!-- Thông tin về KH -->
    <div class="title">
        <h3> XÁC NHẬN THÔNG TIN </h3>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="user">Tên: </label>
                <label value=""></label>
            </div>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="phone">Số điện thoại: </label>
                <label value=""></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="email">Email: </label>
                <label value=""></label>
            </div>
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="address">Địa chỉ: </label>
                <label value=""></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-xs-12">
            <div class="form-group">
                <label name="nation">Quốc gia: </label>
                <label value=""></label>
            </div>
        </div>
    </div>
</div>
