
@{
    ViewBag.Title = "DatTour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pageTitle" style="background-image:url(../../Content/image/img.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1>Đặt Tour</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

