<!-- CT Tour -->
<div role="tabpanel" class="tab-pane active" id="tour-program">
    <div class="row">
        <div class="col-xs-12">
            <div class="commonInfo">
                <p style="text-align: justify;">
                    <strong>
                        Ngày 01: TP. HỒ CHÍ MINH - CÔN ĐẢO (Ăn trưa, chiều)
                    </strong>
                    <br>
                    Buổi sáng, quý khách tập trung tại Ga đi trong nước, sân bay Tân Sơn Nhất. Bay đi Côn Đảo <strong>(cất cánh 08h25)</strong>. Đáp xuống sân bay Cỏ Ống. Khởi hành tham quan <strong>Cảng Bến Đầm</strong>: Cảng lớn nhất tại Côn Đảo, là địa điểm hoạt động trung chuyển hàng hóa, hành khách, giao dịch, buôn bán thủy sản và cung ứng các dịch vụ hậu cần nghề biển; <strong>Mũi Cá Mập</strong> : Mỏm núi vươn dài ra biển có hình tượng giống hàm cá mập; <strong>Đỉnh Tình Yêu</strong>: Là chóp núi có hình tượng của đôi trai gái đang tâm tình mà thiên nhiên đã ban tặng cho Côn Đảo; <strong>Bãi Nhát:</strong>&nbsp; Một bãi tắm bị tác động của thuỷ triều, khi nước xuống sẽ lộ thiên một bãi tắm với cát trắng mịn, nước trong xanh. Quay về khách sạn. Buổi chiều tối quý khách tự do khám phá Côn Đảo. Nghỉ đêm trên Côn Đảo.
                </p>

                <p style="text-align: center;">
                    <img alt="" src="~/Content/image/dinhty.jpg" style="width: 100%; margin-bottom: 15px;">
                    <strong>Đỉnh Tình Yêu</strong>
                </p>

                <p style="text-align: justify;">
                    <strong>NGÀY 02: THAM QUAN CÔN ĐẢO (Ăn sáng, trưa, chiều)</strong>
                    <br>
                    Buổi sáng, quý khách tham quan <strong>Dinh chúa đảo</strong><strong> - </strong>nơi lưu giữ các tư liệu và hình ảnh của Côn Đảo từ thời Pháp thuộc đến những năm 2000; <strong>Trại tù Phú Hải</strong>; <strong>Cầu tàu 914</strong>; Viếng nghĩa trang <strong>Hàng Dương </strong>nơi yên nghĩ của hơn 2.000 nấm mộ và đặc biệt là mộ cô Sáu (Võ Thị Sáu), Khu <strong>Chuồng Cọp Pháp - Mỹ</strong> hệ thống biệt giam đặc biệt tại Côn Đảo. <strong>Chuồng Bò</strong> Miếu bà<strong> Phi Yến </strong>nơi thờ phượng bà Lê Thị Râm, vợ chúa Nguyễn Ánh. Buổi chiều quý khách đến tắm biển tại <strong>bãi Đầm Trầu</strong> (cách trung tâm thị trấn Côn Đảo khoảng 13km). Đây là một bãi tắm gần như còn hoang sơ, tuyệt đẹp với cát vàng mịn màng, làn nước trong xanh màu ngọc bích. Từ lộ chính, quý khách đi bộ theo đường mòn khoảng 1,5km để đến bãi tắm. Trên đường đi quý khách dừng chân để viếng <strong>Miếu Cậu</strong> - nơi thờ hoàng tử Cải, con trai của chúa Nguyễn Ánh và bà Hoàng Phi Yến. Quay về khách sạn. Tự do. Nghỉ đêm ở Côn Đảo.
                </p>

                <p style="text-align: center;">
                    <img alt="" src="~/Content/image/nghiatrangHangDuong.jpg" style="width: 100%; margin-bottom: 15px;">
                    <strong>Nghĩa trang Hàng Dương </strong>
                </p>

                <p style="text-align: justify;">
                    <strong>NGÀY 03: CÔN ĐẢO - TP. HỒ CHÍ MINH (Ăn sáng)</strong><br>
                    Buổi sáng, quý khách trả phòng. Di chuyển ra sân bay Cỏ Ống. Bay vào TP.HCM <strong>(cất cánh lúc </strong><strong>10h25)</strong>. Về đến sân bay Tân Sơn Nhất. Kết thúc chương trình. (Quý khách tự túc phương tiện từ sân bay về lại nhà).
                </p>

                <p style="text-align: justify;"><strong>Ghi chú</strong>: Điểm tham quan có thể sắp xếp lại cho phù hợp mà vẫn bảo đảm đầy đủ nội dung của từng chương trình.</p><p></p>
            </div>
        </div>
    </div>
</div>
<!-- Chính sách tour -->
<div role="tabpanel" class="tab-pane" id="tour-term">
    <div class="row">
        <div class="col-xs-12">
            <div class="commonInfo">
                <p>
                </p><p>
                    <strong>* Các khoản phụ thu (nếu có) : </strong><br>
                    - Phụ thu nâng hạng lên loại phòng Suite khu Building: <strong>+ 2.600.000/khách/tour</strong>.<br>
                    - Phụ thu Phòng đơn Building Sup: <strong>+1.800.000 đồng/khách/ tour</strong>.<br>
                    - Phụ thu bữa ăn chính (nếu cần): <strong>+ 180.000 đồng/suất. </strong><br>
                    - Phụ thu bữa ăn sáng (nếu cần): <strong>+ 130,000 đồng/suất</strong>
                </p>

                <p>
                    <strong>* Vé trẻ em: </strong><br>
                    - Đối với trẻ em dưới 6 tuổi, gia đình tự lo cho bé ăn ngủ và tự trả phí tham quan (nếu có). Hai khách người lớn chỉ được dẫn kèm một trẻ em. Từ trẻ thứ 2 trở lên, mỗi trẻ phải mua 1 suất của Trẻ em từ 6 đến dưới 12 tuổi.<br>
                    - Tiêu chuẩn trẻ từ 6 đến dưới 12 tuổi bao gồm: VMB, suất ăn, ghế ngồi và ngủ ghép chung với phụ huynh.
                </p>

                <p>
                    <strong>* Giá tour bao gồm: </strong><br>
                    - Chi phí xe máy lạnh phục vụ theo chương trình.<br>
                    - Chi phí khách sạn Sài Gòn - Côn Đảo (2 khách/phòng – khu building hoặc Villa)<br>
                    - Chi phí ăn - uống theo chương trình. (4 bữa chính)<br>
                    - Chi phí tham quan và tàu thuyền.<br>
                    - Chi phí Hướng dẫn viên tiếng Việt.<br>
                    - Vé máy bay khứ hồi.<br>
                    - Quà tặng: Nón, nước suối, khăn lạnh, viết…
                </p>

                <p>
                    <strong> * Giá tour không bao gồm: </strong><br>
                    - Chi phí ăn uống ngoài chương trình, giặt ủi, điện thoại và các chi phí cá nhân khác.
                </p>

                <p>
                    <strong>* Quý khách vui lòng chấp nhận điều kiện áp dụng sau:</strong><br>
                    - Đổi tên vé máy bay: chi phí đổi: <strong>2.200.000 /lần đổi.</strong><br>
                    + Hủy vé sau khi mua tour, chịu phạt: <br>
                    - Người lớn : <strong>3.200.000 đồng / khách</strong><br>
                    - Trẻ em từ 2- dưới 12 tuổi: <strong>2.200.000 đồng / khách</strong><br>
                    - Trẻ em dưới 2 tuổi: <strong>700.000 đồng / khách</strong><br>
                    + Hủy vé trong vòng 06 ngày trước ngày khởi hành, chịu phạt:<br>
                    - Người lớn <strong>5.200.000 đồng / khách</strong><br>
                    - Trẻ em 2- dưới 12 tuổi: <strong>3.200.000 đồng / khách</strong><br>
                    - Trẻ em dưới 2 tuổi: <strong>700.000/khách</strong><br>
                    + Hủy vé trong vòng 24 giờ hoặc ngay ngày khởi hành, chịu phạt <strong>100% tiền tour.</strong>
                </p>

                <p>
                    <strong>* Hành lý và giấy tờ tùy thân: </strong><br>
                    - Du khách mang theo giấy Chứng Minh Nhân Dân&nbsp;hoặc Hộ chiếu. Đối với du khách là Việt kiều, Quốc tế nhập cảnh Việt Nam bằng visa rời, vui lòng mang theo visa khi đăng ký và đi tour.<br>
                    - Khách lớn tuổi (từ 70 tuổi trở lên), khách tàn tật tham gia tour, phải có thân nhân đi kèm và cam kết đảm bảo đủ sức khỏe khi tham gia tour du lịch.<br>
                    - Trẻ em dưới 14 tuổi khi đi tour phải mang theo Giấy khai sinh hoặc Hộ chiếu. Trẻ em từ 14 tuổi trở lên phải mang theo giấy Chứng Minh Nhân Dân hoặc Hộ chiếu riêng.<br>
                    <strong>- Tất cả giấy tờ tùy thân mang theo đều phải bản chính.</strong><br>
                    - Du khách mang theo hành lý gọn nhẹ và phải tự bảo quản hành lý, tiền bạc, tư trang trong suốt thời gian đi du lịch. Du khách miễn 20 kg cước hành lý ký gởi và 7kg hành lý xách tay.<br>
                    Khách Việt Nam ở cùng phòng với khách Quốc tế hoặc Việt kiều yêu cầu phải có giấy hôn thú.<br>
                    <strong>- Du khách có mặt tại sân bay trước 3 tiếng so với giờ khởi hành.</strong>
                </p>

                <p>
                    <strong>* Ghi chú khác:</strong><br>
                    - Công ty xuất hóa đơn cho du khách có nhu cầu (Trong thời hạn 7 ngày sau khi kết thúc chương trình du lịch). Du khách được chọn một trong những chương trình khuyến mãi dành cho khách lẻ định kỳ (Nếu có).<br>
                    <strong>- Du khách có mặt tại điểm đón trước 15 phút. Du khách đến trễ khi xe đã khởi hành hoặc hủy tour không báo trước vui lòng chịu phí như ‘hủy vé ngay ngày khởi hành’</strong>
                </p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<!-- CH thường gặp -->
<div role="tabpanel" class="tab-pane" id="tour-question">
    <div class="row">
        <div class="col-xs-12">
            <div class="commonInfo">
                <p>
                </p><p>
                    <strong><span style="background-color:#FFD700;">1/ Nên du lịch Côn Đảo vào mùa nào trong năm?</span></strong><br>
                    Từ tháng 3 đến tháng 9 tuy là mùa mưa nhưng biển khá êm, các trận mưa không kéo dài,thường gián đoạn nên rất thích hợp để tham gia những hoạt động trên biển, cũng như tham quan. Đặc biệt nhất đây là mùa rùa từ mọi nơi về Côn Đảo đẻ trứng.  <br>
                    Từ tháng 10 đến tháng 2 thời gian này là mùa khô nên luôn có nắng dịu nhẹ, thích hợp cho hành trình khám phá Côn Đảo của bạn.
                </p>

                <p>
                    <strong><span style="background-color:#FFD700;">2/ Nếu không đi máy bay thì tôi có thể chọn phương tiện nào khác để đến Côn Đảo?</span></strong><br>
                    Hiện tại ngoài hành trình bay của Vietnam Airlines kết hợp với dịch vụ bay Vasco thì quý khách có thể đến Côn Đảo bằng tàu cao tốc từ: Vũng Tàu, Hồ Chí Minh, Sóc Trăng và Cần Thơ.
                </p>

                <p>
                    <strong><span style="background-color:#FFD700;">3/ Tôi có thể tự túc phương tiện đến Côn Đảo và nhập đoàn không ?</span></strong><br>
                    Quý khách hoàn toàn có thể tự túc phương tiện đến Côn Đảo và nhập đoàn với Lữ hành Saigontourist.
                </p>

                <p>
                    <strong><span style="background-color:#FFD700;">4/ Khi đi Côn Đảo, tôi có thể viếng mộ Cô Sáu vào ban đêm không ?</span></strong><br>
                    Quý khách có thể viếng nghĩa trang Hàng Dương vào ban đêm, để thuận tiện hơn quý khách vui lòng trao đổi với nhân viên của Lữ hành Saigontourist để được hỗ trợ cũng như tư vấn chuẩn bị những vật dụng cần thiết.
                </p>

                <p>
                    <strong><span style="background-color:#FFD700;">5/ Đến Côn Đảo mua gì làm quà ?</span></strong><br>
                    Hạt bàng - một loại đặc sản ngon và lạ với nhiều cách chế biến khác nhau: mứt hạt bàng (mặn và ngọt), hạt bàng rang. Ngoài ra, bạn có thể mua các loại hải sản tươi hay khô như mực khô, mực một nắng và có thể mua đồ lưu niện từ những sản phẩm thủ công mỹ nghệ bằng vỏ óc.
                </p>

                @* <p><a href="#"><strong>Xem thêm câu hỏi thường gặp khác</strong></a></p>*@
            </div>
        </div>
    </div>
</div>
