<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="right-detail-tour-box" id="boxInfoSuportSgt">
                <div class="title">Hỗ trợ khách hàng</div>
                <ul class="list-rows">
                    <li class="item">
                        <a class="item-line" href="tel:1900 1588">
                            <i class="fa fa-phone"></i>
                            <span class="text" style="top: 44px; display: flex; margin-left: 10px;">
                                Hotline: 1900 1588
                            </span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="item-line" href="mailto:info@viettravel.vn">
                            <i class="fa fa-envelope"></i>
                            <span class="text" style="top: 66px; display: flex; margin-left: 10px;">
                                Email:info@viettravel.vn
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="callback-sgt">
                    <button class="btn-callback-sgt" data-toggle="modal" data-target="#callMeBackModal">
                        <i class="fa fa-phone"></i>
                        <span>  Bạn muốn được gọi lại? </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-4 col-xs-12">
            <div class="right-detail-tour-box" style="padding-bottom: 96px;">
                <div class="title">Vì sao nên mua tour online?</div>

                <ul class="list-rows">
                    <li class="item">
                        <a class="item-line" href="#">
                            <span class="text"  style="top: 40px; display: flex">An toàn - Bảo mật</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="item-line" href="#">
                            <span class="text"  style="top: 69px; display: flex ">Tiện lợi, tiết kiệm thời gian</span>
                        </a>
                    </li>
                    <li class="item" >
                        <a class="item-line" href="#">
                            <span class="text" style="top: 98px; display: flex">Không tính phí giao dịch</span>
                        </a>
                    </li>
                    <li class="item" >
                        <a class="item-line" href="#">
                            <span class="text" style="top: 124px; display: flex">Giao dịch bảo đảm</span>
                        </a>
                    </li>
                    <li class="item" >
                        <a class="item-line" href="#">
                            <span class="text" style="top: 150px; display: flex">Nhận thêm ưu đãi</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
