<div class="list-tour-detail">
    <div class="row ">
        <div class="col-md-12 col-xs-12 tour-detail-title-information tour-detail-header-col">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    Khởi hành
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    Mã Tour
                </div>
                <div class="col-sm-2 col-xs-12">
                    Giá
                </div>
                <div class="col-sm-2 col-xs-12">
                    Giá trẻ em
                </div>
                <div class="col-sm-2 col-xs-12">
                    Giá em bé
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tour-detail-content-col">
            <div class="list-inline">
                <div class="row">
                    <div class=" col-xs-12">
                        <h5>Thông tin tour chi tiết thứ #1</h5>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <label>Ngày khởi hành</label>
                        <strong>15/02/2021</strong>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <label>Mã Tour</label>
                        <strong style="margin-left: -30px;">STN084-2021-00159</strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <label>Giá</label>
                        <strong>7.300.000</strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <label>Giá trẻ em</label>
                        <strong>5.300.000</strong>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 price">
                        <label>Giá trẻ sơ sinh</label>
                        <strong>3.800.000</strong>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 packageInfo">
                        <label>Đặt/Mua tour</label>
                        <div class="action-book">
                            <a class="btn btn-buy-tour" href="@Url.Action("DatTour", "DatTour")">
                                Mua Online
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
