<!-- slideshow -->
<div class="content">
    <div id="slide" class="w3-content w3-display-container slideshow-container" style="margin-top: 1px">
        <img class="mySlides" src="~/Content/image/travel02.jpg" style="width:100%; height: 496px">
        <img class="mySlides" src="~/Content/image/travel03.jpg" style="width:100%; height: 496px">
        <img class="mySlides" src="~/Content/image/travel04.jpg" style="width:100%">

        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">

            <img src="~/Content/image/ArrowheadLeft-WF.png" />
        </button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">
            @*&#10095;*@
            <img src="~/Content/image/ArrowHeadRight-WF.png" />
        </button>

        <div class="icon" style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</div>
<!-- slider end -->